{% extends 'base.html.twig' %}

{% block title %}Hello TaskController!{% endblock %}

{% block body %}
	{% if addTaskForm is defined %}
	<h1>Add task</h1>
	{{ form_start(addTaskForm)}}
	{{ form_row(addTaskForm.title) }}
	{{ form_row(addTaskForm.content) }}
	{{ form_row(addTaskForm.expiryDate) }}
	{{ form_row(addTaskForm.status) }}
	<input type="submit" value="Ajouter article à la BDD">
	{{ form_end(addTaskForm)}}
	{% endif %}
	<h1>All tasks</h1>
	<table>
		<tr>
			<th>Id</th>
			<th>Title</th>
			<th>Content</th>
			<th>Expiry date</th>
			<th>Status</th>
		</tr>
		{% for task in tasks %}
			<tr>
				<td>{{ task.id }}</td>
				<td>{{ task.title }}</td>
				<td>{{ task.content }}</td>
				<td>{{ task.expiryDate|date('Y-m-d') }}</td>
				<td>{{ task.status }}</td>
			</tr>
		{% endfor %}
{% endblock %}
